.body {
    background-color: mintcream;
}


p {
    font-family: "Droid Sans", Helvetica, sans-serif;
}

div.diana {
    display:flex;
}

.diana-description {
    align-items: center;
}



div.navbar-collapse {width: 40%;}