.btn {
    border-radius: 10px
    min-height: 100px;
}

.b {
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid black;
    width: 0;
    height: 0;
	}